@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: white;
  scroll-behavior: smooth;
}
:root {
  --secondary_bg: #121212;
  --tertiary_bg: #242424;
  --card_bg: #303030;
}
.scrollbar::-webkit-scrollbar {
  width: 0;
}
